<h1 class="page-header">Redemptions</h1>

<div class="redemptions-area">
</div>

<div id="loader"></div>
<div class="modal-overlay hidden"></div>
<div class="bungie-noauth-overlay-content modal-content hidden">
  <div class="modal-text">An unexpected error has occured, please check the console log.</div>
</div>
<div class="bungie-noauth-overlay-content modal-content hidden">
  <div class="modal-text">Please login to <a href="https://bungie.net" target="_blank">bungie.net</a>. And then refresh this page.</div>
</div>

<div class="ext-not-installed-overlay-content modal-content hidden">
  <div class="modal-text">
    Please install the <a href="https://chrome.google.com/webstore/detail/bungie-privileged-api-pro/lmbhbnnolkjmjgfaieegmlliglfdnadn">Privileged bungie api extension</a>. Then refresh this page.
    Note: Only approved testers can see the extension right now.
  </div>
</div>


<script id="weapon-partial" type="text/x-handlebars-template">
<div class="weapon-info">
    <div class="weapon-name">{{weapon_name}} ({{weapon_type}})</div>
  </div>
  <div class="rolls">
    {{#each rolls}}
      <div class="roll-area">
        <div class="roll-number">Roll {{inc @index}}</div>
        {{> roll}}
       </div>
    {{/each}}
  </div>
</script>

<script id="roll-partial" type="text/x-handlebars-template">
<div class="perk-area">
    {{#each (perkColumns this)}}
      {{> perkColumn}}
    {{/each}}
  </div>
</script>

<script id="perk-column-partial" type="text/x-handlebars-template">
<div class="perk-column">
  {{#each this}}
    {{> perk}}
  {{/each}}
  </div>
</script>

<script id="perk-partial" type="text/x-handlebars-template">
<div class="perk" data-description="{{description}}">
  <img class="perk-icon" src="https://www.bungie.net{{icon}}"/><div class="perk-name" >{{name}}</div>
</div>
</script>

<script id="redemptions-template" type="text/x-handlebars-template">
{{#each this}}
  <div class="weapon">
    {{> weapon}}
  </div>
  {{/each}}
</script>



<script>
document.addEventListener("DOMContentLoaded", function(event) {
    require("web/static/js/redemptions");
    });
</script>
