body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    font-family: 'Roboto', sans-serif;
}

.modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity: 0.7;
}

.modal-text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 50px;
    z-index: 20001;
    margin-top: -25px;
    margin-left: -250px;
    display: table;
}

.hidden {
    display:none;
}

.container {
    width: 1200px;
    margin: auto;
}

.header {
    margin-bottom: 30px;
}

.weapon-name{
    color: #999;
    font-size: 21px;
    font-weight: bold;
}

.roll-number{
    color: #999;
    font-size: 18px;
}

.perk-name{
    margin-right: 20px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.perk-area{
    border: 1px solid #999;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.perk{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px;
    margin: 5px 2px;
    min-height: 40px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-shadow: 7px 9px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 6px rgba(0,0,0,0.2);
    cursor: default;
}
.perk-icon {
    max-width: 32px;
    max-height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

.perk-column{
    float:left;
    margin: 0px;
    min-width: 230px;
}

.roll-area {
    margin: 15px 0px;
}

.weapon {
    padding-bottom: 20px;
}

.page-header{
    color: #999;
}

.drop-element {
    background-color: #1d1d1d;
    color: #a7a7a7;
    padding: 20px;
    border-radius: 5px;
    pointer-events: none;
    font-weight: bold;
    border: 2px #000 solid;
    max-width: 400px;
}
